/.gitignore~
/_xmsgs/pn_parser.xmsgs
/_xmsgs/xst.xmsgs
/CNN.cmd_log
/CNN.lso
/CNN.ngc
/CNN.ngr
/CNN.prj
/CNN.stx
/CNN.syr
/CNN.xst
/CNN_Details
/CNN_envsettings.html
/CNN_summary.html
/CNN_tb_isim_beh.exe
/CNN_tb_stx_beh.prj
/CNN_xst.xrpt
/conv.cmd_log
/conv.lso
/conv.ngc
/conv.ngr
/conv.prj
/conv.stx
/conv.syr
/conv.xst
/conv_envsettings.html
/conv_summary.html
/conv_xst.xrpt
/Convolutional_Neural_Network.gise
/fuse.log
/fuse.xmsgs
/fuseRelaunch.cmd
/Hand_Written_Digit_Recognition.gise
/iseconfig/CNN.xreport
/iseconfig/conv.xreport
/iseconfig/Convolutional_Neural_Network.projectmgr
/iseconfig/Hand_Written_Digit_Recognition.projectmgr
/iseconfig/Max_Pool.xreport
/iseconfig/RELU.xreport
/isim.cmd
/isim.log
/isim/isim_usage_statistics.html
/isim/pn_info
/isim/precompiled.exe.sim/ieee/p_0774719531.c
/isim/precompiled.exe.sim/ieee/p_0774719531.didat
/isim/precompiled.exe.sim/ieee/p_0774719531.nt64.obj
/isim/precompiled.exe.sim/ieee/p_2592010699.c
/isim/precompiled.exe.sim/ieee/p_2592010699.didat
/isim/precompiled.exe.sim/ieee/p_2592010699.nt64.obj
/isim/precompiled.exe.sim/ieee/p_3499444699.c
/isim/precompiled.exe.sim/ieee/p_3499444699.didat
/isim/precompiled.exe.sim/ieee/p_3499444699.nt64.obj
/isim/RELU_tb_isim_beh.exe.sim/isimcrash.log
/isim/RELU_tb_isim_beh.exe.sim/ISimEngine-DesignHierarchy.dbg
/isim/RELU_tb_isim_beh.exe.sim/isimkernel.log
/isim/RELU_tb_isim_beh.exe.sim/libPortability.dll
/isim/RELU_tb_isim_beh.exe.sim/netId.dat
/isim/RELU_tb_isim_beh.exe.sim/RELU_tb_isim_beh.exe
/isim/RELU_tb_isim_beh.exe.sim/tmp_save/_1
/isim/RELU_tb_isim_beh.exe.sim/work/a_1766162060_2372691052.c
/isim/RELU_tb_isim_beh.exe.sim/work/a_1766162060_2372691052.didat
/isim/RELU_tb_isim_beh.exe.sim/work/a_1766162060_2372691052.nt64.obj
/isim/RELU_tb_isim_beh.exe.sim/work/a_1864578111_3212880686.c
/isim/RELU_tb_isim_beh.exe.sim/work/a_1864578111_3212880686.didat
/isim/RELU_tb_isim_beh.exe.sim/work/a_1864578111_3212880686.nt64.obj
/isim/RELU_tb_isim_beh.exe.sim/work/RELU_tb_isim_beh.exe_main.c
/isim/RELU_tb_isim_beh.exe.sim/work/RELU_tb_isim_beh.exe_main.nt64.obj
/isim/work/relu.vdb
/isim/work/relu_tb.vdb
/Max_Pool.cmd_log
/Max_Pool.lso
/Max_Pool.ngc
/Max_Pool.ngr
/Max_Pool.prj
/Max_Pool.stx
/Max_Pool.syr
/Max_Pool.xst
/Max_Pool_envsettings.html
/Max_Pool_summary.html
/Max_Pool_xst.xrpt
/pepExtractor.prj
/RELU.bmm
/RELU.cmd_log
/RELU.lso
/RELU.ngc
/RELU.ngr
/RELU.prj
/RELU.stx
/RELU.syr
/RELU.xst
/RELU_envsettings.html
/RELU_summary.html
/RELU_tb_beh.prj
/RELU_tb_isim_beh.exe
/RELU_tb_isim_beh.wdb
/RELU_xst.xrpt
/testbench_beh.prj
/webtalk_pn.xml
/xilinxsim.ini
/xst/work/work.vdbl
/xst/work/work.vdbx
